@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="cards">
    <div class="card">
        <h2>@ViewBag.TotalBooksIssued</h2>
        <p>Books Issued</p>
    </div>
    <div class="card">
        <h2>@ViewBag.TotalBooksReserved</h2>
        <p>Books Reserved</p>
    </div>
    <div class="card">
        <h2>@ViewBag.TotalOverdueBooks</h2>
        <p>Overdue Books</p>
    </div>
</div>
